
h1{
    color: yellowgreen;
    text-align: center;
  }
h2{
    color: red;
    text-align: center;
  }
  h3{
    color: red;
    text-align: center;
  }
  body {
    background-image: url(t1.jpg);
    
    }
